# Azure Storage Configuration
STORAGE_ACCOUNT_NAME=adlskelompok6
CONTAINER_BRONZE=bronze
CONTAINER_SILVER=silver
CONTAINER_GOLD=gold

# Azure Synapse (optional, for later)
# SYNAPSE_WORKSPACE=your-workspace-name
# SYNAPSE_POOL=your-spark-pool
